<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Playlist Maker</title>
<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>

</head>
<nav>
   <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>

   <button id="homepage">homepage</button>

   </nav>
   

<body>

   {{{body}}}
</body>
</html>