<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>
</head>

<h2>Create Playlist</h2>

 <div class="row">
  <div class="column">
    <form>
    <label for="ptitle">Playlist title:</label><br>
    <input type="text" id="ptitle" name="ptitle" value="New Playlist"><br>
    <input type="checkbox">
</form>
  </div>
  <div class="column"></div>
</div> 
<form>
    <label for="ptitle">Playlist title:</label><br>
    <input type="text" id="ptitle" name="ptitle" value="New Playlist"><br>
    <input type="checkbox"
</form>
