<video autoplay muted loop id="myVideo">
  <source src="/images/playlistsong.mp4" type="video/mp4">
</video>

<h3>All Songs</h3>
<div class="project-list">
  {{#if songs.length}}
  <div class="row mb-2">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Song Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Album</th>
        </tr>
      </thead>
      <tbody>
        {{#each songs as |song|}}
        <tr>
          <td>{{song.title}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.album}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
  {{/if}}
</div>

<div>
  <h3>Add a Song to Our Database!</h3>
  <form>
    <div class="mb-3">
      <label class="form-label">Song Title</label>
      <input type="text" class="form-control" id="song-input" aria-describedby="emailHelp"
        placeholder="Add song title...">
    </div>
    <div class="mb-3">
      <label class="form-label">Artist</label>
      <input type="text" class="form-control" id="artist-input" placeholder="Add artist name...">
    </div>
    <div class="mb-3">
      <label class="form-label">Album</label>
      <input type="text" class="form-control" id="album-input" placeholder="Add album title...">
    </div>
    <button type="submit" class="btn btn-primary add-song-btn">Add Song</button>
  </form>
    <button id="upload_widget" class="cloudinary-button">Upload File</button>
</div>

<script src="/js/addsong.js"></script>