<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Current songs</h3>
  {{#if songs.length}}
  <div class="col-md-6 project-list"></div>



  {{#each songs as|song|}}
  <div class="row mb-2">
    <p>{{song.title}}</p>
    <p>{{song.artist}}</p>
    <p>{{song.album}}</p>
  </div>



  {{/each}}

  {{/if}}


</body>

</html>