* {
  padding: 0;
  margin: 0;
}

.myform {
  padding: 28px;
  border: 2px solid darkslategray;
  box-shadow: inset 2px 2px 3px pink, 3px 3px 5px white;
  background: #cccccc44;
  margin-top: 200px;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.border-left {
  border-left: 1px solid darkgrey;

}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

tr,
th {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: lightblue;
  text-shadow: 1px 2px 5px lightblue;
  background-color: #065b834e;
  padding: 25px;
}

h3, h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: lightblue;
  text-shadow: 1px 2px 5px lightpink;
  background-color: #065b834e;
  padding: 25px;
}
.table {
  width: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px lightpink;
}
.playlistText{
  color: aliceblue;
  margin: 0 auto;
}
.profileText{
  width: 50%;
  float: right;
}

.profileContainer{
  border: 1px solid grey;
  box-shadow: 1px 2px 6px darkblue;
  background: rgba(30, 45, 57, 0.109);
  width: 95%;
  padding: 15px;
  border-radius: 5px;
}

.playlistcontainer{
  margin: 0 auto;
}
img{
  width: 50%;
}

.profileTitle{
  text-align: center;
  text-shadow: 1px 2px 3px lightblue;
  padding: 5px;
  background-color: rgba(75, 74, 74, 0.233);
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #065b83;
}

h1,h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #065b83;
  text-shadow: 1px 2px 3px #ccc;
  
}

td {
  border: 2px solid #cccccc44;
  box-shadow: inset 2px 2px 3px pink, 3px 3px 5px white;
  background: #cccccc44;
  padding: 5px;
}

p{
  border: 1px solid grey;
  font-size: small;
  background-color: aliceblue;
  padding: 5px;
  box-shadow: 1px 2px 5px rgb(75, 74, 74);
}

.p-style{
  font-size: smaller;
  padding: 15px;
  margin: 0 auto;
}

.form-label{
  color: aliceblue;
}

.mb-3{
  width: 50%;
  margin: 0 auto;
}


.dbDiv{
  margin-bottom: 225px;
  
}
.songDb{
  border: 1px solid darkolivegreen;
  width: 50%;
  height: 550px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 6px 6px 6px lightblue;
  background-color: #065b83;
}

label{
 padding: 15px;
}

#playlist-name{
  padding-left: 100px;
}

.form-control{
width: 55%;
margin: 0 auto;
}

.cpbutton{
  margin: 5px 500px;
  padding: 10px;
}

/* Add some content at the bottom of the video/page
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
} */